

.container {
    background-color: #F5F5F5;

    .navigation_wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        .navigation {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 auto;
            width: 100%;
            max-width: 48rem; //.max-w-3xl
            padding: 2rem 0;
            // position: relative;
            // align-items: center;
            .logo {
                margin-bottom: 1rem;
                margin-left: 1rem;
                font-size:xx-large;
                font-weight: 700;
                .logo_link {
                    text-decoration: none;
                    color: #555a5a;
                }
            }
            .top_bar {
                .top_bar_listItem {
                    padding: 0.5rem 1rem;
                    // display: none;
                    text-decoration: none;
                    color: #555a5a;
                }
            }




        }
    }
    .main_wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
    }

}

