

.container {
    background-color: #F5F5F5;

    .navigation_wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        .navigation {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 100%;
            max-width: 48rem; //.max-w-3xl
            padding: 2rem 0;
            position: relative;
            align-items: center;
            .top_bar_listItem {
                padding: 0.5rem 1rem;
                display: none;

            }



        }
    }
    .main_wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
    }

}

