
  
//     @media screen and (min-width: 768px) {
//       visibility: hidden;
//     }


  .burger {
    width: 2.5rem;
    height: 2.5rem;
    background:transparent;
    visibility: visible;
    position: relative;
    border: 0;
    svg {
        color: #424242;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        transition: opacity 500ms ease, transform 500ms ease;
        // width: 1.25rem;
        // height: 1.25rem;


    }
    svg[data-hide="true"] {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}

  
  .menu {
    padding: 0 28px 0 4px;
    margin: 0;
    padding-top: 24px;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    opacity: 0;
    left: 0;
    transition: opacity 300ms ease, transform 300ms ease;
    // flex flex-col absolute bg-gray-100 dark:bg-gray-900;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: hsla(0, 0%, 50%, 0.1) ;
  }
  
  .menu li {
    transform: translateX(-16px);
    opacity: 0;
    transition: opacity 300ms ease, transform 300ms ease, width 300ms ease,
      border-color 300ms ease;
    width: 0px;
    white-space: nowrap;
  }
  .listItem {
    // "border-b border-gray-300 dark:border-gray-700 text-gray-900 dark:text-gray-100 text-sm font-semibold"
    border-bottom-width: 1px;
    border-color: rgba(209, 213, 219, 1);
    color: rgba(17, 24, 39, 1);
    font-size: 1rem; /* 14px */
    line-height: 1.5rem; /* 20px */
  }
.link {
  // "flex w-auto pb-4"
  display: flex;
  width: auto;
  padding-bottom: 1rem;
}

  .menuRendered {
    opacity: 1;
  }
  
  .menuRendered li {
    @apply border-gray-200 dark:border-gray-600 w-full;
    transform: translateX(0);
    opacity: 1;
  }
  
  .menu > * + * {
    margin-top: 24px;
  }
  
  @keyframes grow {
    0% {
      height: 0px;
    }
    100% {
      height: 24px;
    }
  }

  .menu_cross_icon {
    // "h-5 w-5 absolute text-gray-900 dark:text-gray-100"
    height: 1.5rem;
    width: 1.5rem;
    position:absolute;
    color: rgba(17, 24, 39, 1);	

  }